{% extends 'menu-layout.html.twig' %}

{% block title %}Student Dashboard{% endblock %}

{% block contents %}

    <div class="container">
        {#    TODO: #}
        Student Dashboard
    </div>
{% endblock %}
