{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-outline-success custom-btn">{{ button_label|default('Save') }}</button>
    <a class="btn btn-sm custom-btn btn-outline-dark" 
        href="javascript:window.history.back()">Cancel</a>
{{ form_end(form) }}
