{% extends 'menu-layout.html.twig' %}

{% block title %}Edit Intake{% endblock %}

{% block contents %}
    <div class="w-50">
        {{ include('admin/intake/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}

{% block actions %}
    {{ include('admin/intake/_delete_form.html.twig') }}
{% endblock %}
