{% extends 'menu-layout.html.twig' %}

{% block title %}New Period{% endblock %}

{% block contents %}

    {{ include('admin/period/_form.html.twig') }}

    <a href="{{ path('admin_period_index') }}">back to list</a>
{% endblock %}
