{% extends 'menu-layout.html.twig' %}

{% block title %}Change password{% endblock %}

{% block contents %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-outline-success custom-btn">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}

{% endblock %}
