<form method="post" action="{{ path('admin_teacher_to_subject_to_intake_delete', {'id': teacher_to_subject_to_intake.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teacher_to_subject_to_intake.id) }}">
    <button class="btn">Delete</button>
</form>
