{% extends 'menu-layout.html.twig' %}

{% block title %}Edit TeacherToSubjectToIntake{% endblock %}

{% block contents %}

    {{ include('admin/teacher_to_subject_to_intake/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_teacher_to_subject_to_intake_index') }}">back to list</a>

    {{ include('admin/teacher_to_subject_to_intake/_delete_form.html.twig') }}
{% endblock %}
