{% extends 'menu-layout.html.twig' %}

{% block title %}Add Subject to Teacher{% endblock %}

{% block contents %}
    <div class="w-50">
        {{ include('admin/teacher_to_subject_to_intake/_form.html.twig') }}
    </div>
{% endblock %}
