.nav-link.current {
    color: #000000;
    background-color: #21252917;
}
a.sortable:hover {
    color: #373c45ba!important;
}
.hide {
    display : none!important;
}
.custom-btn {
    width : 6rem;
}
.w-35 {
    width : 30%;
}
.form-select, .form-control {
    padding: .200rem 2rem .200rem .5rem;
}
.form-label {
    margin-bottom: 0.2rem;
}
.attendance-comment {
    height: 15px;
}