{% extends 'menu-layout.html.twig' %}

{% block title %}Create new Student{% endblock %}

{% block contents %}
    <div style="width: 25rem;">
        {{ include('admin/student/_form.html.twig') }}
    </div>
{% endblock %}
