{% extends 'menu-layout.html.twig' %}

{% block title %}New Teacher{% endblock %}

{% block contents %}
    <div style="width: 25rem;">
        {{ include('admin/teacher/_form.html.twig') }}
    </div>
    <a href="{{ path('admin_teacher_index') }}">back to list</a>
{% endblock %}
